# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

build/
build-*/
.venv/
.vscode/

*-ubyte
*.JPEG
trancripts.txt

# latex
*.toc
*.out
*.log
*.aux
*.fdb_latexmk
*.fls
*.synctex.gz
ProjetRapportlatex/*.brf
ProjetRapportlatex/*.lot
ProjetRapportlatex/*.lof
ProjetRapportlatex/*.vrb
ProjetRapportlatex/*.snm
ProjetRapportlatex/*.nav

# Experience 
*.data
*.old
*.csv
*.db
*.log

# Heavy experiment data
output/ExperienceHPO/hpo_runs/